@import "../../assets/stylesheet.scss";

.round-button {
  background-color: $primary-blue;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  padding: 0.75rem 1rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.square-button {
  background-color: $primary-blue;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  padding: 0.75rem 1rem;
  margin-right: 1rem;
}

.button:active,
.button:hover {
  background-color: $secondary-blue;
  transform: scale(1.05);
  cursor: pointer;
}

.button-icon {
  padding-left: 0.5rem;
  vertical-align: middle;
}
