@import "../../assets//stylesheet.scss";

.text-logo_wrapper {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
}

.text-logo {
  width: 250px;
  height: auto;
}

.text-logo_title {
  font-size: 1.25rem;
  margin-left: -2rem;
  color: $font-color;
}

.img-logo_wrapper {
  position: fixed;
  top: 7.5rem;
  left: 1.5rem;
}

.img-logo {
  height: 450px;
  width: auto;
}
